body {
	background-color: blue;
}
h1 {
	color: white;
}
table {
	background-color: lightblue;
	border: 5px solid red;
	border-collapse: collapse;
	text-align: center;
}
table tr th, table tr td {
	border: 3px solid black;
	width: 80px;
	height: 80px;
}
table tr th {
	color: red;
}
button {
	margin: 20px 40px 20px 0;
}
.bingoCard {
	float: left;
}
.ballsChosenDiv {
	background-color: lightblue;
	border: 5px solid red;
	margin: 5px;
}

#status {
	border: 1px solid black;
	padding: 0px 5px;
}
.connected {
	background-color: lime;
}
.disconnected {
	background-color: red;
}
